body {
background-color: rgb(228, 228, 215);
}

h1 {
    text-align: center;
}

a {
    text-align: center;
    color: rgb(162, 144, 102);
    text-decoration: none;
}

a:hover {
color: rgb(12, 85, 140)
}

footer {
   text-align: center; 
   display: block;
}